<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to the Matching Tool</h1>

	<h2>
		This tool was made for members of the Mines eSports club to register for tournaments in a way that makes fair, enjoyable teams for all particpants.
	</h2>

	<h2>
		A schedule of eSports tournaments will be posted here soon, and the eSports club members will be notified when the site is fully functional!
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

