<footer class="footer">
	<small>
		This app was developed by the Mines chapter of the Association of Computing Machinery and is powered by Ruby on Rails.
	</small>
	<br>
<div class="logos">
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<%= link_to image_tag("ACM-logo.png", alt: "ACM logo"),
            'http://acm.org/' %>

<%= link_to image_tag("mines_EEE.png", alt: "CSM logo", id: "mines_logo"),
            'http://mines.edu/' %>
</div>
</footer>
